@page "/Posts"
@using ParsLinks.Shared.PagedCollections

<div class="page">
    <div class="header">
        <div class="title">
            <i class="fad fa-blog fa-2x"></i>
            <h4>
                @_viewLocalizer[ViewResources.BlogPostList]
            </h4>
        </div>

        <div class="action-group">
            <div class="flex-grow-1">
                <MudTextField T="string"
                @bind-Value="@Query"
                TextChanged="@(s=>OnSearchData(s))"
                Placeholder="@_viewLocalizer[ViewResources.Search]"
                Adornment="Adornment.Start"
                Margin="Margin.Dense"
                Variant="@Variant.Text"
                Class="shadow-box"
                Underline=false
                Immediate="false"
                AdornmentIcon="@Icons.Material.Filled.Search"
                IconSize="MudBlazor.Size.Medium" />
            </div>

            <div class="add-btn-lg">
                <BlogPostAddButton OnActionCompleted="LoadDataAsync" />
            </div>
            <RefreshPageButton OnActionCompleted="LoadDataAsync" />
        </div>

    </div>
    <div class="body">
        <span style="color:var(--gray-500)">@_viewLocalizer[ViewResources.Count]: @ItemSource.TotalCount</span>
        <div class="list">
            <Virtualize @ref=_virtualizeGrid Context="post" ItemsProvider="LoadVirtualizeDataAsync" OverscanCount="10">
                <ItemContent>
                    <BlogPostAdminCard Model="@post" OnEdited="LoadDataAsync" OnDeleted="LoadDataAsync" />
                </ItemContent>
                <Placeholder>
                    <BlogPostAdminCard IsLoading="true" />
                </Placeholder>
                <EmptyContent>
                    <div>
                        @_messageLocalizer[MessageResources.no_records_found_please_add_new_entries_to_manage]
                    </div>
                </EmptyContent>
            </Virtualize>
        </div>
    </div>


</div>
<div class="add-btn-sm">
    <BlogPostAddFabButton OnActionCompleted="LoadDataAsync" />
</div>
@code {



    Virtualize<BlogPostResponse>? _virtualizeGrid;
    List<BlogPostResponse> BlogPosts { get; set; } = new();
    string? Query;
    IVirtualizedList<BlogPostResponse> ItemSource = new VirtualizedList<BlogPostResponse>();


    async Task LoadDataAsync()
    {
        if (_virtualizeGrid != null)
            await _virtualizeGrid.RefreshDataAsync();
    }

    async ValueTask<ItemsProviderResult<BlogPostResponse>> LoadVirtualizeDataAsync(ItemsProviderRequest request)
    {

        var response = await _blogPostApiService.GetVirtualizedAllPostsAsync(new BlogPostQueryParameters
            {
                Index = request.StartIndex,
                Size = request.Count,
                Query = Query,
                Lang = lang
            }, request.CancellationToken);

        if (response.Succeeded)
        {
            ItemSource = response.Data;
            StateHasChanged();
        }

        return new ItemsProviderResult<BlogPostResponse>(ItemSource.Items, ItemSource.TotalCount);

    }
    private async Task OnSearchData(string query)
    {
        Query = query;
        await LoadDataAsync();
    }


}
