@if (!Isloading)
{

    <div class="comment">
        <img class="img" src="@Model.Image" alt="Image Description">
        <div class="content">
            <div class="header">
                <div class="title">@Model.User</div>
                <div class="date">5 days ago</div>
            </div>

            <p>
                @Model.Content
            </p>

            <ul class="list-inline d-sm-flex my-0">
                <li class="list-inline-item g-mr-20">
                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                        <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>
                        @Model.Like
                    </a>
                </li>
                <li class="list-inline-item g-mr-20">
                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                        <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>
                        @Model.Dislike
                    </a>
                </li>
                <li class="list-inline-item ml-auto">
                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                        <i class="fa fa-reply g-pos-rel g-top-1 g-mr-3"></i>
                        Reply
                    </a>
                </li>
            </ul>
        </div>
    </div>

}
else
{

    <div class="post-card disable">
        <div class="cover">
            <MudSkeleton Style="border-radius:10px; width:100%;min-width:350px;" SkeletonType="SkeletonType.Rectangle" Width="350px" Height="230px" Animation="Animation.Wave" />
        </div>
        <div class="body">
            <div class="date">
                <MudSkeleton Width="100px" />
            </div>
            <div class="title">
                <MudSkeleton Width="70%" Height="30px" />
            </div>
            <div class="author">
                <MudSkeleton Width="120px" />
            </div>

            <div class="content">
                <MudSkeleton Width="100%" Height="12px" />
                <MudSkeleton Width="100%" Height="12px" />
                <MudSkeleton Width="100%" Height="12px" />
                <MudSkeleton Width="100%" Height="12px" />
                <MudSkeleton Width="100%" Height="12px" />
                <MudSkeleton Width="100%" Height="12px" />
            </div>
            <div class="action-bar">
                <MudSkeleton Width="150px" Height="55px" />

            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public BlogPostCommentResponse Model { get; set; }
    [Parameter]
    public bool Isloading { get; set; }
}
